# Main Kconfig configuration file
# Include common clock configuration and vendor-specific configurations

# menu "Platform Configuration"

# Include CPU architecture configuration
rsource "kconfigs/arch.Kconfig"

# Include compiler configuration
rsource "kconfigs/compiler.Kconfig"

# Include clock Kconfig configuration
rsource "kconfigs/clock.Kconfig"

# Include common configuration
rsource "kconfigs/common.Kconfig"

# Include vendor-specific configuration
rsource "vendor/Kconfig"

# endmenu
